/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
.idea/
/vendor
vendor/
app/config/database.php
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_real.php
test//