/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
.idea/
/vendor
vendor/
app/config/database.php
test//
public/error_log
public/file
public/applicant_images
public/files_public