.bs_example{
	margin-top: 120px;
}
.h2{
	font-size: 12px;
}
.form-horizontal
{
	width: 450px;
	margin-left: 2px;
}

.btn-toolbar
{
	margin-left: 42px;
}
/*.thead { 
    background-image: url(../images/small.gif); 
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 
th.headerSortDown { 
    background-image: url(../images/small_desc.gif); 
    background-color: #3399FF; 
}
th.headerSortUp { 
    background-image: url(../images/small_asc.gif); 
    background-color: #3399FF; 
} */