/** Home Page **/
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 96%;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    position: relative;
    right: 0;
    /*z-index: 1030;*/
    z-index: 1030;
}
.navbar-left{
    width: 99%;
}
.list-group-item{
    width: 90%;
}
.footer-fixed{
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    z-index: 1000000;
    background: #efefef;
    padding-top: 5px;
}




/** add field style **/
.option_class{
       width: 200px;
       padding: 3px;
       margin-bottom: 10px;
}


.answer_class{
    width: 200px;
    padding: 3px;
    margin-bottom: 10px;
}


.remove{
    cursor: pointer;
    border: 1px solid #efefef;
    background: #efefef;
    margin: 5px;
}
.add_button{
    background: #efefef;
    padding: 3px;
    cursor: pointer;
}


